[Unit]
Description=Hyperledger Besu Node1
After=network.target

[Service]
EnvironmentFile=/etc/default/node1
EnvironmentFile=/etc/environment
# Operating System
User=ubuntu
Group=ubuntu
ExecStart=/opt/besu/bin/besu

[Install]
WantedBy=multi-user.target